<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Items</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="d-flex flex-column min-vh-100 font-monospace">
    <div th:replace="~{fragments/headerCommitteeMember.html :: header}"></div>

    <h1 class="text-center pt-2">Committee Member View</h1>

    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${successMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${errorMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="table-responsive px-5 py-2">
      <div class="mx-3 d-flex">
        <h1 class="flex-fill pt-4">Instruments</h1>
        <div class="align-self-center">
            <a class="btn btn-outline-dark" th:href="@{/committee-member/instrument/new}">Add Instrument</a>
        </div>
      </div>
        <table class="table table-secondary table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Make</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr class="table-light" th:each="instrument : ${instruments}">
                <th scope="col">
                    <a th:href="@{instrument/{id}(id=${instrument.id})}" th:text="${instrument.id}">1</a>
                </th>
                <td th:text="${instrument.name}"></td>
                <td th:text="${instrument.serialNumber}"></td>
                <td th:text="${instrument.make}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    
    <div class="table-responsive px-5 py-2">
      <div class="mx-3 d-flex">
        <h1 class="flex-fill pt-4">Miscellaneous Items</h1>
        <div class="align-self-center">
            <a class="btn btn-outline-dark" th:href="@{/committee-member/miscellaneous/new}">Add Miscellaneous Item</a>
        </div>
      </div>

        <table class="table table-secondary table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Make</th>
                <th scope="col">Specific For Instrument</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr class="table-light" th:each="miscellaneous : ${miscellaneousItems}">
                <th scope="col">
                    <a th:href="@{miscellaneous/{id}(id=${miscellaneous.id})}" th:text="${miscellaneous.id}">1</a>
                </th>
                <td th:text="${miscellaneous.name}"></td>
                <td th:text="${miscellaneous.quantity}"></td>
                <td th:text="${miscellaneous.make}"></td>
                <td th:text="${miscellaneous.specificForInstrument}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div class="table-responsive px-5 py-2">
    <div class="mx-3 d-flex">
      <h1 class="flex-fill pt-4">Active Instrument Loans</h1>
      <div class="align-self-center">
      </div>
    </div>

      <table class="table table-secondary table-hover">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Instrument Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">Returned</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          <tr class="table-light" th:each="instrumentLoan : ${instrumentLoansNotReturned}">
              <th scope="col">
                <a th:href="@{/committee-member/instrument-loan/{id}(id=${instrumentLoan.id})}" th:text="${instrumentLoan.id}">1</a>
              </th>
              <td th:text="${instrumentLoan.instrument.name}"></td>
              <td th:text="${instrumentLoan.date}"></td>
              <td th:text="${instrumentLoan.returned}"></td>
          </tr>
          </tbody>
      </table>
  </div>

    <div class="table-responsive px-5 py-2">
    <div class="mx-3 d-flex">
      <h1 class="flex-fill pt-4">Returned Instrument Loans</h1>
      <div class="align-self-center">
      </div>
    </div>

      <table class="table table-secondary table-hover">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Instrument Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">Returned</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          <tr class="table-light" th:each="instrumentLoan : ${instrumentLoansReturned}">
              <th scope="col">
                <a th:href="@{/committee-member/instrument-loan/{id}(id=${instrumentLoan.id})}" th:text="${instrumentLoan.id}">1</a>
              </th>
              <td th:text="${instrumentLoan.instrument.name}"></td>
              <td th:text="${instrumentLoan.date}"></td>
              <td th:text="${instrumentLoan.returned}"></td>
          </tr>
          </tbody>
      </table>
  </div>


    <div class="table-responsive px-5 py-2">
    <div class="mx-3 d-flex">
      <h1 class="flex-fill pt-4">Active Miscellaneous Loans</h1>
      <div class="align-self-center">
      </div>
    </div>

      <table class="table table-secondary table-hover">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Miscellaneous Name</th>
              <th scope="col">Miscellaneous Make</th>
              <th scope="col">Miscellaneous Quantity</th>
              <th scope="col">Start Date</th>
              <th scope="col">Returned</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          <tr class="table-light" th:each="miscellaneousLoan : ${miscellaneousLoansNotReturned}">
              <th scope="col">
                <a th:href="@{/committee-member/miscellaneous-loan/{id}(id=${miscellaneousLoan.id})}" th:text="${miscellaneousLoan.id}">1</a>
              </th>
              <td th:text="${miscellaneousLoan.miscellaneous.name}"></td>
              <td th:text="${miscellaneousLoan.miscellaneous.make}"></td>
              <td th:text="${miscellaneousLoan.quantity}"></td>
              <td th:text="${miscellaneousLoan.date}"></td>
              <td th:text="${miscellaneousLoan.returned}"></td>
          </tr>
          </tbody>
      </table>
  </div>

    <div class="table-responsive px-5 py-2">
    <div class="mx-3 d-flex">
      <h1 class="flex-fill pt-4">Returned Miscellaneous Loans</h1>
      <div class="align-self-center">
      </div>
    </div>

      <table class="table table-secondary table-hover">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Miscellaneous Name</th>
              <th scope="col">Miscellaneous Make</th>
              <th scope="col">Miscellaneous Quantity</th>
              <th scope="col">Start Date</th>
              <th scope="col">Returned</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          <tr class="table-light" th:each="miscellaneousLoan : ${miscellaneousLoansReturned}">
              <th scope="col">
                <a th:href="@{/committee-member/miscellaneous-loan/{id}(id=${miscellaneousLoan.id})}" th:text="${miscellaneousLoan.id}">1</a>
              </th>
              <td th:text="${miscellaneousLoan.miscellaneous.name}"></td>
              <td th:text="${miscellaneousLoan.miscellaneous.make}"></td>
              <td th:text="${miscellaneousLoan.quantity}"></td>
              <td th:text="${miscellaneousLoan.date}"></td>
              <td th:text="${miscellaneousLoan.returned}"></td>
          </tr>
          </tbody>
      </table>
  </div>


    <div th:replace="~{fragments/footer.html :: footer}"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>
